*{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.88em;
}
.search-box{
    width:535px;
    padding: 1px 3px;
}

a.link-disabled{
    color: grey;
    cursor: not-allowed;
    text-decoration: none !important;
}

.centered {
    margin : 0 auto;
}

.mt10 {
    margin-top : 10px;
}

.text-centered{
    text-align: center;
}

.block{
    display:block;
}

.item-list-item{

}

.item-frame{
    margin-top:15%;
}

.item-details{
    padding: 10px;
    background-color: #F6F1EE;
}

.item-title{
    background-color: #D2B9A6;
    height: 1%;
    padding: 6px 0 8px 10px;
}

.item-description{
    background-color : #fff;
}
.result-list{
    font-size:1.5em;
    width: 100%;
    border: #D2B9A6 solid 1px;
}
.result-list-header{
    background: #D2B9A6;
}
.result-list-header th{
    padding:3px;
}
.result-list-results{

}
.result-list-results tr{
    background-color: white;
}
.result-list-results td{
    padding:5px;
}
.result-list-results.categories a{
    color: #009;
    text-decoration: none;
    border-bottom: 1px dotted #000;
    margin: 0 4px;
}
.link-style span, a{
    color: #009;
    text-decoration: none;
    border-bottom: 1px dotted #000;
    margin: 0 4px;
    cursor: pointer;
    font-size:12px;
}
.tac{
    text-align: center;
}
.boldness-is-the-key-LUL{
    font-weight:bold;
}

.bordered-searchnavbar{
    position: fixed;
    top:0;
    left:0;
    height: 110px;
    width: 100%;
    border-color: #D2B9A6;
    background-color: white;
    border-bottom: solid 1px #D2B9A6;
    padding: 10px;
    z-index: 3;
}

.bordered-searchnavbar img{
    position: absolute;
    width: 135px;
    top: 0;
    left: 0;
}

.bordered-searchnavbar .navbar{
    position: absolute;
    left: 158px;
}
.bordered-searchnavbar .navbar a{
    color: #009;
    text-decoration: none;
    border-bottom: 1px dotted #000;
    margin: 0 4px;
    font-size:1.04em;
}
.index-navbar{
    margin-bottom: 10px;
}
.index-navbar a {
    color: #009;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

.bordered-searchnavbar .navbar a.link-disabled{
    color: lightgray;
}

.bordered-searchnavbar .searchbar{
    position: relative;
    left: 150px;
    top: 50px;
    width:270px;
}
.bordered-searchnavbar button{
    position: relative;
    left: 150px;
    top: 50px;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color: gray;
    color: white;
    width: 100%;
    padding:2px;
    border-top: 1px solid black;
}
.footer a{
    text-decoration: underline;
    color: white;
}
.page-title-bar{
    position: fixed;
    left: 0;
    width: 100%;
    border-bottom: solid black 1px;
    background: #D2B9A6;
    top: 109px;
    font-size: 11px;
    font-weight: bold;
    padding-left: 20px;
    z-index: 3;
}
.fr{
    float: right;
}
.pl-10{
    padding-left: 10px;
}
.pr-10{
    padding-right: 10px;
}
.index-logo{
    width: 340px;
}
.m0{
    margin: 0;;
}
.mt15{
    margin-top:15%;
}
.mb15{
    margin-bottom:15%;
}
a.how-to-download-index{
    position: relative;
    top: 20px;
    color: #009;
    font-weight:bold;
    font-size:1.3em;
}
div.sidemenu{
    position: fixed;
    top:125px;
    left:0;
    height:100%;
    width:10%;
    font-size: 12px;
    border: 1px solid #D2B9A6;
}
div.menu-entry{
    padding: 3px;
    border-bottom: 1px solid #F6F1EE;
    font-size:12px;
}

.page-content{
    top: 135px;
    position: relative;
    left: 15%;
    width: 80%;
    margin-bottom: 50px;
    font-size:18px;
}

#invitation img{
    width:700px;
}