.search-box{
    width:450px;
}

a.link-disabled{
    color: grey;
    cursor: not-allowed;
    text-decoration: none !important;
}

.centered {
    margin : 0 auto;
}

.mt10 {
    margin-top : 10px;
}

.text-centered{
    text-align: center;
}

.block{
    display:block;
}

.item-list-item{

}

.item-frame{
    margin-top:15%;
}

.item-details{
    padding: 10px;
    background-color: #F6F1EE;
}

.item-title{
    background-color: #D2B9A6;
    height: 1%;
    padding: 6px 0 8px 10px;
}

.item-description{
    background-color : #fff;
}
.result-list{
    width: 100%;
    margin-top: 15%;
    border: #D2B9A6 solid 2px;
    margin-bottom: 10%;
}
.result-list-header{
    background: #D2B9A6;
}
.result-list-results{

}
.result-list-results tr{
    background-color: white;
}
.result-list-results td{
    padding:5px;
}
.tac{
    text-align: center;
}
.boldness-is-the-key-LUL{
    font-weight:bold;
}

.HOT_NEW_WOW{
    COLOR : RED !IMPORTANT;
    text-decoration: underline;
    font-weight:bold;
    font-size:120%;
}

.bordered-searchnavbar{
    position: fixed;
    top:0;
    left:0;
    height: 110px;
    width: 100%;
    /*border: solid 2px;*/
    border-color: #D2B9A6;
    background-color: white;
    border-bottom: solid 2px #D2B9A6;
    padding: 10px;
}

.bordered-searchnavbar img{
    position: absolute;
    width: 135px;
    top: 0;
    left: 0;
}

.bordered-searchnavbar .navbar{
    position: absolute;
    left: 158px;
}
.bordered-searchnavbar .searchbar{
    position: relative;
    left: 150px;
    top: 50px;
}
.bordered-searchnavbar button{
    position: relative;
    left: 150px;
    top: 50px;
}