@(items: Seq[Item], itemCreationForm: Form[ItemData])(implicit messages: Messages)

@import helper._

@main("Items") {
    <div class="container">

        <h1>@items.size items</h1>

        @*<img src="@routes.Assets.versioned("images/tpb.jpg")" class="img-responsive centered" />*@

        <div class="result-list-header">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="result-list">
            @items.map { item =>
                <li>
                    <form action="@routes.Items.delete(item.id)" method="post">
                        <span>
                            @item.title
                            <a href="@routes.Items.show(item.id)">(view)</a>
                            <input type="hidden" name="id" id="id" value="@item.id">
                            <button type="submit">Delete item</button>
                        </span>
                    </form>
                </li>
            }
        </ul>

    </div>

}