@(items: Seq[Item])

@import helper._

@main("Items") {
    <div class="container">

        @*<h1>@items.size results</h1>*@

        @*<img src="@routes.Assets.versioned("images/tpb.jpg")" class="img-responsive centered" />*@
        <table>
            <thead>
                <tr>
                    <td>
                        <a href="@routes.Items.showCategory("DVD")">DVD</a>
                    </td>
                    <td>
                        <a href="@routes.Items.showCategory("VHS")">VHS</a>
                    </td>
                    <td>
                        <a href="@routes.Items.showCategory("CD")">CD</a>
                    </td>
                    <td>
                        <a href="@routes.Items.showCategory("HDDVD")">HD DVD</a>
                    </td>
                    <td>
                        <a href="@routes.Items.showCategory("LP")">LP</a>
                    </td>
                </tr>
            </thead>
        </table>

        <table class="result-list">
            <thead class="result-list-header">
                <tr>
                    <th>
                        Type
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Creators
                    </th>
                    <th>
                        Year
                    </th>
                </tr>
            </thead>
            <tbody class="result-list-results">

                @items.map { item =>
                    <tr>
                        <td>@item.medium</td>
                        <td>
                            <a href="@routes.Items.show(item.id)">@item.title + @item.description</a>
                        </td>
                        <td>@item.creators</td>
                        <td>@item.year</td>
                    </tr>
                    @*<form action="@routes.Items.delete(item.id)" method="post">*@
                        @*<span>*@
                            @*<input type="hidden" name="id" id="id" value="@item.id">*@
                            @*<button type="submit">Delete item</button>*@
                        @*</span>*@
                    @*</form>*@
                }

            </tbody>
        </table>

        @*<div class="result-list-header">*@
            @*<span>One</span>*@
            @*<span>Two</span>*@
            @*<span>Three</span>*@
            @*<span>Four</span>*@
        @*</div>*@
        @*<ul class="result-list">*@
            @*items.map { item =>*@
                @*<li>*@
                    @*<form action="@routes.Items.delete(item.id)" method="post">*@
                        @*<span>*@
                            @*<a href="@routes.Items.show(item.id)">@item.title</a>*@
                            @*<input type="hidden" name="id" id="id" value="@item.id">*@
                            @*<button type="submit">Delete item</button>*@
                        @*</span>*@
                    @*</form>*@
                @*</li>*@
            @*}*@
        @*</ul>*@

    </div>

}