@(item: Item)

@import helper._

@main("The WORM Pirate Bay - Item details") {

    <div class="container">
        <form action="@routes.Items.textSearch" method="post" class="bordered-searchnavbar">
            <div class="navbar">
                <a href="@routes.Items.list()">Browse items</a>
                |
                <a href="@routes.Items.showCategories">Browse categories</a>
                |
                <a class="link-disabled"   href="">Top 100</a>
                |
                <a class="link-disabled" href="">Recent</a>
                |
                <a class="link-disabled" href="">Featured</a>
            </div>
            <a href="/">
                <img src="@routes.Assets.versioned("images/WORMPirateBay_logo_AmySuoWu.png")" class="bordered-searchnavbar-img"/>
            </a>
            <input type="text" class="centered searchbar" name="q" placeholder="Pirate search..."/>
            <button type="submit" name="searchType" value="normal">Pirate Search</button>
        </form>
        <div class="page-title-bar">Item: @item.title</div>
        <div class="item-frame">
            <div class="item-title">@item.title</div>
            <div class="item-details">
                <div>Title : @item.title</div>
                <div>Artist/Author/Creator/Credits : @item.creators</div>
                <div>Genre : @item.genre</div>
                <div>Production : @item.production</div>
                <div>Year : @item.year</div>
                <div>Country : @item.country</div>
                <div>Medium : @item.medium</div>
                <div>Language(s) : @item.lang</div>
                <div>________________________</div>
                <div>Reservation info :</div>
                <div>Status : @{if(item.reserved) "Reserved" else "Available"}</div>
                <div>________________________</div>
                <div>More stuff : </div>
                <div>Website: @item.website</div>
                <div>Extra tags: @item.extra</div>
                <div>________________________</div>
                <div>

                    @*<form action="@routes.Items.reserve(item.id)" method="post">*@
                        @*<span>*@
                            @*<input type="hidden" name="id" id="id" value="@item.id">*@
                            @*if(!item.reserved) {*@
                                @*<button type="submit">Reserve</button>*@
                            @*}*@
                        @*</span>*@
                    @*</form>*@
                </div>
                <div class="item-description">
                    Description : @item.description
                </div>
            </div>

        </div>

    </div>


    @*<h1>@item.title</h1>*@
        @*<h2>@item.description</h2>*@
        @*<h3>Status : @{if(item.reserved) "Reserved" else "Available"}</h3>*@
        @*<form action="@routes.Items.edit(item.id)" method="post">*@
            @*<input type="text" name="title" id="title" value="@item.title">*@
            @*<input type="text" name="description" id="description" value="@item.description">*@
            @*<input type="text" name="reserved" id="reserved" value="@item.reserved">*@
            @*<button type="submit">Update</button>*@
        @*</form>*@

        @*<form action="@routes.Items.delete(item.id)" method="post">*@
            @*<span>*@
                @*<input type="hidden" name="id" id="id" value="@item.id">*@
                @*<button type="submit">Delete</button>*@
            @*</span>*@
        @*</form>*@

        @*<form action="@routes.Items.reserve(item.id)" method="post">*@
            @*<span>*@
                @*<input type="hidden" name="id" id="id" value="@item.id">*@
                @*<button type="submit">Reserve</button>*@
            @*</span>*@
        @*</form>*@

        @*<h1>*@
            @*<a href="@routes.Items.list()">Back to items</a>*@
        @*</h1>*@

}