@main("The WORM Pirate Bay - About The WORM Piratebay") {

    <div class="container">
        <div class="page-title-bar">About The WORM Piratebay</div>

            <div class="page-content-visibible">
                <div class="content-default">
                    <h2 class="content-header">
                        THE WORM PIRATE BAY CONCEPT
                    </h2>
                        <h3>
                            WORM Institute for Avant-garde Recreation introduces the WORM Pirate Bay Media
                            Archive: a no fee lending archive with an online database, and a unique preview space in
                            WORM's building.
                        </h3>

                        <p>
                            WORM's Pirate Bay archive has two key features. Firstly, the WORM Pirate Bay has both
                            an online and offline presence. Guests can access the database online via
                            thepiratebay.worm.org, a web application which is specifically designed to make WORM's
                            archive user friendly.
                        </p>

                        <p>
                            It is possible to browse by media type (VHS, DVD .. etc), genre,
                            release year, etc or search the entire database by keyword. Creating a profile on
                            thepiratebay website allows users to reserve items, save them to their profile, rate them or
                            leave comments. A user who reserves an item is notified when it's ready to be picked up at
                            WORM, and reminded when it's time to bring it back.
                        </p>

                        <p>
                            Visitors to WORM are able to browse and preview the media, get staff recommendations,
                            and enjoy the selection of games and gadgets. Furthermore they can also take the chance
                            to preview the WORM Pirate Bay archive in “DISPLAY”, a multi-functional art-design-nonobject
                            by Amy Suo Wu. “DISPLAY” facilitates reading, watching, listening and sleeping in
                            a cocoon, all while on display. "DISPLAY" is all about display, it doesn’t discriminate
                            between inanimate objects and body as objects.
                        </p>

                        <p>
                            This offline presence is both an answer and a credo. It is WORM's response to the
                            growing need for tangibility, something that the digital revolution has paradoxically brought
                            about. Moreover, it comes from acknowledging that format is organic to the aesthetics of
                            certain artworks; something that calls for the preservation and distribution of the original.
                            As film activist Pip Chodorov said, “Better watch avant-garde films on VHS than on DVD
                            because digital compression technology has been optimized for mainstream film and kills
                            off the aesthetics of the analog film originals!”.
                        </p>

                        <p>
                            Secondly, by virtue of its comprehensiveness, the WORM Pirate Bay archive is one of the
                            most important and valuable collections in the Netherlands.
                        </p>

                        <h4>
                            The archive comprises of four modules:
                        </h4>

                        <ol>
                            <li>
                                In 2013 WORM inherited an extensive VHS collection from Re:voir in Paris featuring the
                                very best of international avant-garde film from 1920 till today. It includes films from the
                                Dadaist, Surrealist and Letterist movements, films from the American avant-garde, diary
                                films, found footage films, structural films, films evoking body art or performance art,
                                arthouse features, animated works, hand-painted films etc. This collection gives an idea of
                                the extent of practices and approaches used by experimental filmmakers in the principal
                                centres of film production, namely North America, Austria, France, and Germany.
                                Moreover, a large part of this collection consists of unique, unpublished tapes that were
                                personally given by the filmmakers to Chodorov.
                            </li>
                            <li>
                                The WORM Pirate Bay archive also houses the CultVideotheek Next Page collection of
                                underground, trash, horror and porn films on DVD and VHS. Next to these cult films there
                                is a considerable and contemporary arthouse collection, classics, world cinema,
                                documentaries, animation and music films
                            </li>
                            <li>
                                WORM's own productions form another part of the archive. The majority of the items
                                were produced in the WORM SoundStudio and cover projects like Radio WORM (a
                                monthly radio magazine that run from 2000-2012), Horspil (a series of radio plays
                                produced from 2009 to the present day), and the Soundpiece Series which were released
                                on LP. There are also many printed publications, such as artist Dennis de Bel's "A Very
                                Hard Cover Book" and publications by The Parallel University of WORM such as Omar
                                Munoz Cremers' "De Toekomst Hervonden"
                            </li>
                            <li>
                                The WORM Pirate Bay archive involves a collection of Books, Magazines, Recordings
                                (on CD, LP, Cassette), Film (DVD) and sound gadgets curated by WORM Director Hajo
                                Doorn and Mariëtte Groot from the Underbelly shop. Thematically this collection is based
                                round the early avant-garde, experimental and underground music, sound art, film, media
                                art, outsider art, DIY, activism and philosophy. The collection has both a national and
                                international scope, with Dutch and English editions, and a preoccupation with the local
                                and international art scenes.
                            </li>
                        </ol>
            </div>
        </div>

        <div class="page-content-hidden">
            
            <div id="invitation" class="content">
                <img src="/public/images/invitation.png"/>
            </div>
            
            <div id="content-opening-event" class="content">
                <h2 class="content-header">
                    PRESS RELEASE- WORM PIRATE BAY OPENING
                </h2>
                <h3>
                    WORM Institute for Avant-garde Recreation launches the WORM Pirate Bay Media
                    Archive on September 9th.
                </h3>
                <p>
                    On Friday, September 9th, 18:00 WORM (Institute for Avant-garde Recreation) at
                    Boomgaardstraat 71-73, Rotterdam will launch the WORM Pirate Bay Media Archive. We
                    will be celebrating with a series of performances and screenings, with an afterparty. This
                    event marks the launch of a brand new media hub in the centre of Rotterdam. WORM's
                    core mission is to provide free access to over 5000 items of international (sub)cultural
                    importance; recorded on different formats such as VHS, DVD, LP and Cassette; as well as
                    a library of books, magazines, gadgets and games. The WORM Pirate Bay database will
                    also be made accessible online. Users will be able to reserve items online, but will need to
                    pick them up at the WORM Pirate Bay itself. A service desk and a unique preview space,
                    designed by Amy Suo Wu, is open to all visitors. Here they can experience the media in its
                    actual form.
                </p>
            </div>

            <div id="content-press-quotes" class="content">
                <h2 class="content-header">
                    PRESS QUOTES- THE WORM PIRATE BAY
                </h2>
                <h3>
                    No-fee lending online archive and screening room opening in Rotterdam
                </h3>
                <p>
                    Rotterdam's WORM Institute for Avant-Garde Recreation has created
                    the WORM Pirate Bay - a no fee-lending archive with an online database and a screening room.
                    The archive has an online and offline presence, allowing users to browse the archive online
                    and receive notifications when requested items are ready to be collected.
                </p>
                <q>
                    This offline presence is both an answer and a credo
                </q>
                <p>
                    States the open access library.
                </p>
                <q>
                    It is WORM's response to the growing need for tangibility, something that the digital
                    revolution has paradoxically brought about. Moreover, it comes from acknowledging that format
                    is organic to the aesthetics of certain artworks.
                </q>

                <p>
                    At its Rotterdam base, WORM has ammassed a collection of more than 5000 films,
                    music. books, magazines and other cultural paraphernalia. The launch party will take place on
                    9 Semptember at Boomgaardstraat 71-73, Rotterdam.
                </p>

                <p>
                    In a way this mirrors the trend for having 180 gram vinyl preessing of lps you have freee on download.
                    Regardless; WORM has ammassed a huge archive over the years, and opening it to the public as a sort of old
                    fashioned lending library is a brilliant move. And one that should see this legendary underground venue
                    become an important alternative resource for many. Certainly outside of its traditional audience of
                    underground crazies, learned freaks and party people.
                </p>


                <p>
                    For those who can't or won't adjust to embracing digitisation in all its forms, we have good news for you.
                    On the 9th of September, Worm in Rotterdam will launch The Pirate Bay Media Archive.

                    According to their press release,
                </p>
                <i>
                    WORM's core mission is to provide free access to over 5000 items of international (sub)cultural
                    importance; recorded on different formats such as VHS, DVD, LP and Cassette; as well as a library of
                    books, magazines, gardgets and games. The WORM Pirate Bay will also be made accessible online.
                    Users will be able to reserve items online, but will need to pick them up at the Pirate Bay itself.
                    A service desk and a unique preview space is open to all visitors. Here they can experience the media in its actual form.
                </i>

                <p>
                    In a way this mirrors the trend for having 180 gram vinyl preessing of lps you have freee on download.
                    Regardless; WORM has ammassed a huge archive over the years, and opening it to the public as a sort of old
                    fashioned lending library is a brilliant move. And one that should see this legendary underground venue
                    become an important alternative resource for many. Certainly outside of its traditional audience of
                    underground crazies, learned freaks and party people.
                </p>
                <p>
                    The opening is part of a wider event: Kunstavond XL (Art Evening XL). The night boasts lots of free gigs,
                    from the brilliant electronic/musicque concrete artist, Thomas Ankersmit To Discohen, a Dutch guy who
                    plays disco hits in the stule of Leonard Cohen. there's also a Pantropical night - a club night that brings
                    artists like Ata kak and Hailu Megia to Rotterdam. If you are in Rotterdam on the 9th of September,
                    you could do a lot worse than pop down. WORM is bound at Boomgaardstraat 71-73, in the heart of the
                    Witte de With qwartier, the trendiest arts quarter, in the centre of the city.
                </p>
                <hr>
                <br>
                <q>
                    WORM has always been fascinated by resources that the general public tends to look
                    down upon. Media that are regarded as superfluous because they are supposed to have
                    been overruled by "new media", like "the cloud".
                    But most of us don't realise there is no cloud holding and preserving our stuff, just the
                    mega-servers standing firmly on concrete floors under the steel roofs of the big media
                    companies that do with that stuff as they please. Data that don't generate money, or new
                    data, will be erased. So, against the predominant opinions, WORM preserves what others
                    think is useless.
                    Apart from being a preserver, WORM also wants to be a guide to the history of the avantgarde,
                    a guide to the avant-garde that is here now, AND a guide pointing to the avantgarde
                    of the future. OK, it takes up more space than it would on Google's servers, but at
                    least it's near you. To hold, smell, hear, see, wind and rewind. Bless the WORM Pirate Bay
                    and all who sail with it!!
                </q>
                <p>
                    - Mariëtte Groot, 2016
                    UNDERBELLY SOUNDARTMEDIA
                </p>
            </div>

        </div>
</div>

}