@main("The wormbay") {
    <img src="@routes.Assets.versioned("images/tpb.jpg")" class="img-responsive centered mt10"/>
    <div class="text-centered">
        <a href="@routes.Items.list()">Browse all items</a>
        |
        <a href="@routes.Items.showCategories" class="HOT_NEW_WOW">Categories (HOT! NEW! WOW!)</a>
        |
        <a href="">Some other fancy feature</a>
        |
        <a class="link-disabled"   href="">More stuff?</a>
        |
        <a class="link-disabled" href="">Something else? Who knows!</a>
        |
        <a class="link-disabled" href="">Featured</a>

    </div>

    <form action="@routes.Items.textSearch" method="post">
        <input type="text" class="centered block search-box" name="q" placeholder="Enter a search term..."/>

        <div class="text-centered mt10">
            <button type="submit" name="searchType" value="normal">Search</button>
            <button type="submit" name="searchType" value="lucky">Feelin' Lucky</button>
        </div>

    </form>

}
