@main("The wormbay") {
    <img src="@routes.Assets.versioned("images/tpb.jpg")" class="img-responsive centered mt10"/>
    <div class="text-centered">
        <a href="">Search items</a>
        |
        <a href="@routes.Application.index()">Browse items</a>
        |
        <a class="link-disabled"   href="">Recent items</a>
        |
        <a class="link-disabled" href="">Movies</a>
        |
        <a class="link-disabled" href="">Books</a>
        |
        <a class="link-disabled" href="">Top 100</a>

    </div>

    <form action="@routes.Application.index()" method="post">
        <input type="text" class="centered block search-box" name="q" placeholder="Enter a search term..."/>

        <div class="text-centered mt10">
            <button type="submit" name="searchType" value="normal">Search</button>
            <button type="submit" name="searchType" value="lucky">Feelin' Lucky</button>
        </div>

    </form>

}
