@main("The wormbay") {
    <img src="@routes.Assets.versioned("images/WORMPirateBay_logo_AmySuoWu.png")" class="img-responsive centered mt10"/>
    <div class="text-centered index-navbar">
        <a href="@routes.Items.list()">Browse all items</a>
        |
        <a href="@routes.Items.showCategories">Categories</a>
        |
        <a class="link-disabled"   href="">Top 100</a>
        |
        <a class="link-disabled" href="">Recent</a>
        |
        <a class="link-disabled" href="">Featured</a>
    </div>

    <form action="@routes.Items.textSearch" method="post">
        <input type="text" class="centered block search-box" name="q" placeholder="Search by title, artist, description keyword, year, genre, production (Case sensitive)"/>

        <div class="text-centered mt10">
            <button type="submit" name="searchType" value="normal">Pirate Search</button>
        </div>

    </form>

}
